.card-container {
  width: 300px;
  padding: 10px;

}

.title {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  color: var(--color-gray);
  font-size: 0.9rem;
}

.thumbnail-placeholder {
  position: relative;

  .thumbnail {
    width: 300px;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  .duration {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: var(--color-primary);
    background-color: var(--color-lightgray);
    border-radius: 3px;
    padding: 1px 4px;
  }
}


.tags {
  display: flex;
  gap: 5px;

  .tag {
    background-color: var(--color-gray);
    color: white;
    border-radius: 3px;
    padding: 4px 6px;
    font-size: 0.8rem;
  }

}
